<mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="multitrack audio icon">multitrack_audio</mat-icon>
    <span>WebMixerJS</span>
</mat-toolbar>
<div class="container">
    <mat-card class="item">1</mat-card>
    <mat-card class="item">2</mat-card>
    <mat-card class="item">3</mat-card>
    <mat-card class="item">4</mat-card>
    <mat-card class="item">5</mat-card>
    <mat-card class="item">6</mat-card>
    <mat-card class="item">7</mat-card>
    <mat-card class="item">8</mat-card>

</div>
